<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <title><%= title %></title>
</head>
<body class="container">
    <div class="container">
        <div class="row justify-content-center">
            
            <div class="col-md-6">
                <% if (error!=='') { %>
                    <div class="alert alert-danger" role="alert">
                        <%= error %>
                    </div>
                <% } %>
                <div class="card">
                    <div class="card-header">
                        Login
                    </div>
                    <div class="card-body">
                        <form method="POST" action="/auth/login">
                            <div class="form-group">
                                <label for="inputUsername">Username</label>
                                <input type="text" name="username" class="form-control" id="inputUsername" aria-describedby="usernameHelp" placeholder="Enter username">
                            </div>
                            <div class="form-group">
                                <label for="inputPassword">Password</label>
                                <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
                            </div>
                            <button type="submit" class="btn btn-primary">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>

